@model Publisher


@using (Html.BeginForm("AddOrEdit", "Publisher", FormMethod.Post))
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-left">Add Publisher</h4>
            </div>
            <div class="modal-body">
                                @Html.HiddenFor(model => model.PublisherId)

                <div class="form-group row">
                        <label asp-for="PublisherName" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-7" >
                        <input asp-for="PublisherName" class="form-control" />
                        <span asp-validation-for="PublisherName" class="text-danger"></span>
                  </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}